.img-thumbnail {
    height: 250px;
    width: 250px;
}

.d-lg-none 

d-none d-lg-block {
    background-image: url(/images/biski.jpg)
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    min-width: 400px; max-width: 2048px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
@font-face {
    font-family: DAYPBL_;
    src: url('../Fonts/DAYPBL_.ttf');
}
@font-face {
    font-family: Rubik-Regular;
    src: url('../Fonts/Rubik-Regular.ttf');
}
