@model InnvoTech.Models.Products

@{
    ViewData["Products"] = "Gadgets";
}

<h1>InnvoTech Gadgets</h1>
<br />
<div class="row">
    <div class="col-lg-4 col-md-4 mb-4">
        <div class="card h-100" style="border:groove">
            <a asp-controller="Products" asp-action="Index" asp-route-id="1"><img class="card-img-top" src="~/images/biski.jpg" alt="The BiSki" height="200" width="250"></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a asp-controller="Products" asp-action="Index" asp-route-id="1">The BiSki</a>
                </h4>
                <h5>$3,499.99</h5>
                <p class="card-text" style="font-family:sans-serif">The Biski is truly unique; as a single seat (or single plus pillion), twin jet, HSA Motorcycle, it is a world’s first in many ways. At just 2.3m long and under 1m wide, it is the smallest of all Gibbs High speed amphibious platforms, and very probably the most technically advanced. It represents true freedom for the individual; serious fun.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9733;</small>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4 mb-4">
        <div class="card h-100" style="border:groove">
            <a asp-controller="Products" asp-action="Index" asp-route-id="2"><img class="card-img-top" src="~/images/googleglass.jpg" alt="Google Glass" height="200" width="250"></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a asp-controller="Products" asp-action="Index" asp-route-id="2">Google Glass</a>
                </h4>
                <h5>$2,149.99</h5>
                <p class="card-text" style="font-family:sans-serif">Google Glass is an optical head-mounted display designed in the shape of a pair of eyeglasses. It was developed by X with the mission of producing a ubiquitous computer. Google Glass displayed information in a smartphone-like hands-free format.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9733;</small>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4 mb-4">
        <div class="card h-100" style="border:groove">
            <a asp-controller="Products" asp-action="Index" asp-route-id="3"><img class="card-img-top" src="~/images/portablelanguagetranslator.jpg" alt="The Electric Wakeboard" height="200" width="250"></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a asp-controller="Products" asp-action="Index" asp-route-id="3">Portable Language Translation Device</a>
                </h4>
                <h5>$499.99</h5>
                <p class="card-text" style="font-family:sans-serif">This little gadget will translate the words you speak in as little as 0.2 seconds and say them right back at you in another language. More specifically, it translates English into Japanese, Chinese, and Spanish.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4 mb-4">
        <div class="card h-100" style="border:groove">
            <a asp-controller="Products" asp-action="Index" asp-route-id="4"><img class="card-img-top" src="~/images/massagingrobot.jpg" alt="Massaging Robot" height="200" width="250"></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a asp-controller="Products" asp-action="Index" asp-route-id="4">Massaging Robot</a>
                </h4>
                <h5>$399.99</h5>
                <p class="card-text" style="font-family:sans-serif">A palm-sized robot, designed solely for your relaxation. Using a unique sensor technology, WheeMe moves along the back, creating wave after wave of soothing sensations, without falling down or losing grip. Enjoy your own portable massage therapist anytime, anywhere.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9734; &#9734;</small>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4 mb-4">
        <div class="card h-100" style="border:groove">
            <a asp-controller="Products" asp-action="Index" asp-route-id="5"><img class="card-img-top" src="~/images/quadski.jpg" alt="The QuadSki" height="200" width="250"></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a asp-controller="Products" asp-action="Index" asp-route-id="5">The QuadSki</a>
                </h4>
                <h5>$8699.99</h5>
                <p class="card-text" style="font-family:sans-serif">Power comes from a 1.3-liter, four-cylinder BMW engine that pumps out 175 horsepower and 103 pound-feet of torque. Output is limited to 80 hp on land, while a six-speed automatic gearbox powers it through the twisties and inclines. The top speed is limited to 45 mph on land and water</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9733;</small>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4 mb-4">
        <div class="card h-100" style="border:groove">
            <a asp-controller="Products" asp-action="Index" asp-route-id="6"><img class="card-img-top" src="~/images/thirdthumb.jpeg" alt="Third Thumb Attatchment" height="200" width="250"></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a asp-controller="Products" asp-action="Index" asp-route-id="6">Third Thumb Attatchment</a>
                </h4>
                <h5>$59.49</h5>
                <p class="card-text" style="font-family:sans-serif">The Third Thumb Attachment gives you a new functional thumb to use in a variety of ways. The movement of the thumb is ensured by two motors hiding inside of it. But the real culprits that run the show are your toes. Your toes can put pressure onto two sensors that hide in your shoes. The sensors, in return, send the signal back to the thumb via Bluetooth and “tell” it what it’s supposed to do.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9733;</small>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4 mb-4">
        <div class="card h-100" style="border:groove">
            <a asp-controller="Products" asp-action="Index" asp-route-id="7"><img class="card-img-top" src="~/images/dualmonitor.jpg" alt="SlidenJoy Dual Monitors" height="200" width="250"></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a asp-controller="Products" asp-action="Index" asp-route-id="7">SlidenJoy Dual Laptop Monitors</a>
                </h4>
                <h5>$369.49</h5>
                <p class="card-text" style="font-family:sans-serif">You might have thought that getting yourself a dual or triple monitor for a desktop or laptop would keep you tied to one place. That’s not the case anymore. The use of this portable monitor is easy. As in “click, connect, enjoy” easy. Not only can you attach it to your display like a magnet, the additional slide-out monitors can be rotated to allow you a 360º sharing experience.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9733;</small>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4 mb-4">
        <div class="card h-100" style="border:groove">
            <a asp-controller="Products" asp-action="Index" asp-route-id="8"><img class="card-img-top" src="~/images/electricwakeboard.jpg" alt="The Electric Wakeboard" height="200" width="250"></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a asp-controller="Products" asp-action="Index" asp-route-id="8">The Electric Wakeboard</a>
                </h4>
                <h5>$499.99</h5>
                <p class="card-text" style="font-family:sans-serif">This electric wakeboard has the state of the art electric motor inside the board that is not only water proof, but also long lasting and supercharged. This wakeboard effectively lets you surf without waves at up to 36 mph (58 km/h.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9733;</small>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4 mb-4">
        <div class="card h-100" style="border:groove">
            <a asp-controller="Products" asp-action="Index" asp-route-id="9"><img class="card-img-top" src="~/images/applewatch.jpg" alt="Apple Watch" height="200" width="250"></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a asp-controller="Products" asp-action="Index" asp-route-id="9">Apple Watch</a>
                </h4>
                <h5>$679.49</h5>
                <p class="card-text" style="font-family:sans-serif">Space aluminum case, Built-in GPS and GLONASS, Faster dual-core processor, W2 chip, Barometric altimeter, Capacity 8GB, Heart rate sensor Accelerometer and gyroscope, Water resistant 50 meters, Ion-X strengthened glass, Composite back Wi-Fi (802.11b/g/n 2.4GHz), Bluetooth 4.2 Up to 18 hours of battery life3 watchOS 4</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">&#9733; &#9734; &#9734; &#9734; &#9734;</small>
            </div>
        </div>
    </div>
</div>