
@{
    ViewData["Account"] = "ForgotPassword";
}

<div class="jumbotron">
    <div class="container">
      <h2>Recover Your Password</h2>
       <form method="post">        
         <p>Enter the email address associated with your account, and we'll send you instructions for resetting your password</p>
            <div>
                <label for="email">Email Address</label>
                <input type="email" name="email" required />
            </div>
            <br />
            <input type="submit" class="btn btn-info" value="Send Me Password Instructions"/>       
       </form>
    </div>
</div>
