
@{
    ViewData["Title"] = "ResetPassword";
}

<form method="post">
    <div>
        <br />
    <label for="email">Enter your new password</label>
    <input type="password" name="password" required />
    <input type="submit" class="btn btn-info" value="Reset your password" />
    </div>
</form>
