
@{
    ViewData["Delivery"] = "Receipt";
}

<h2>Receipt</h2>
<p>We've received your transaction and it's now pending for approval. We will contact you at the earliest convenience when your transaction has been approved.
    Your purchase will be shipped to your address within 5-7 business days and we will do our very best in sending your tech gadget as quickly as possible. In the meantime,
    feel free to look around at InnvoTech for more tech gadgets that are available.</p>
