@{
    ViewData["Title"] = "About Us";
}
<main>
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <br />
                <div class="col-sm-8 col-xs-6">
                    <p>
                        Our main objective is to make the selection process of purchasing a high quality beer not only easier for our customers,
                        but also reducing the amount of time spent on the shopping experience as well.
                        No more going to the liquor store feeling confused and overwhelmed on the large beer selections in finding a new beer to try out for the first time that you would eventually stick to the same old beer brand that you know best.
                        Here at BeerPack, we take our beer selection process very seriously that we do numerous control studies and constantly sampling any craft beer that has the potential to be in BeerPack's Beer family.
                        We provide a list of recommended craft beers in each beer style that we believe that you will enjoy instantly, while also make our beer list collection short and precise to make your shopping experience more enjoyable.
                    </p>
                </div>
                <div class="col-sm-4 col-xs-6">
                    <img class="rounded-circle" src="~/images/logo2.jpg" height="325" width="300" />
                </div>
            </div>
        </div>
    </div>
    </main>
