@{
    ViewData["Title"] = "About Us";
}
<main>
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <br />
                <div class="col-sm-7 col-xs-4">
                    <p>
                        Welcome to InnvoTech! Our sole purpose of this business venture is to innovate technology gadgets that can change the way people think about the future.
                        We want our products to not only look and do cool stuff but also to change, adapt and boost our consumers' busy lifestyle. Our tech gadgets are one of a kind and unique
                        as we've partnered up with innovating technology companies like Google, Apple, Gibbs Amphibian Sports and others to come together and build futuristic tech gadgets.
                        We take pride in providing these innovative products on our E-commerce website with special thanks to our exclusive business partners for letting us sell some of their products to our consumers.
                        Feel free to shop around the E-commerce store and buy something technologically advanced for either yourself or for a friend as a gift!
                    </p>
                </div>
                <div class="col-sm-5 col-xs-4">
                    <img class="rounded" src="~/images/logo2.jpg" height="325" width="300" />
                </div>
            </div>
        </div>
    </div>
    <h3>Our Exclusive Business Partners</h3>
    <div class="col-xs-4" style="border:groove">
        <img src="~/images/apple-logo.jpg" height="200" width="200" />
        <img src="~/images/googlelogo.jpg" height="200" width="150" />
        <img src="~/images/gibbslogo.jpg" height="200" width="200" />
        <img src="~/images/slidenjoylogo.png" height="200" width="200" />
        <img src="~/images/radinn logo.jpg" height="200" width="330" />
    </div>
</main>
