@{
    ViewData["Title"] = "Home Page";
}
<main>
    <div class="container">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="border:groove">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active" style="background-color:black"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1" style="background-color:black"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2" style="background-color:black"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3" style="background-color:black"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="~/images/quadski.jpg" alt="First slide" height="300" width="1050">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="~/images/googleglass.jpg" alt="Second slide" height="300" width="1050">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="~/images/dualmonitor.jpg" alt="Third slide" height="300" width="1050">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="~/images/thirdthumb.jpeg" alt="Fourth slide" height="300" width="1050" />
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <br />
        <h3>Hottest Gadgets</h3>
        <div class="row">
            <div class="col-lg-4 col-md-4 mb-4">
                <div class="card h-100" style="border:groove">
                    <a asp-controller="Products" asp-action="Index" asp-route-id="1"><img class="card-img-top" src="~/images/biski.jpg" alt="The BiSki" height="200" width="250"></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a asp-controller="Products" asp-action="Index" asp-route-id="1">The BiSki</a>
                        </h4>
                        <h5>$3,499.99</h5>
                        <p class="card-text">The Biski is truly unique; as a single seat (or single plus pillion), twin jet, HSA Motorcycle, it is a world’s first in many ways. At just 2.3m long and under 1m wide, it is the smallest of all Gibbs High speed amphibious platforms, and very probably the most technically advanced. It represents true freedom for the individual; serious fun.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9733;</small>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 mb-4">
                <div class="card h-100" style="border:groove">
                    <a asp-controller="Products" asp-action="Index" asp-route-id="8"><img class="card-img-top" src="~/images/electricwakeboard.jpg" alt="The Electric Wakeboard" height="200" width="250"></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a asp-controller="Products" asp-action="Index" asp-route-id="8">The Electric Wakeboard</a>
                        </h4>
                        <h5>$499.99</h5>
                        <p class="card-text">This electric wakeboard has the state of the art electric motor inside the board that is not only water proof, but also long lasting and supercharged. This wakeboard effectively lets you surf without waves at up to 36 mph (58 km/h.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9733;</small>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 mb-4">
                <div class="card h-100" style="border:groove">
                    <a asp-controller="Products" asp-action="Index" asp-route-id="2"><img class="card-img-top" src="~/images/googleglass.jpg" alt="Google Glass" height="200" width="250"></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a asp-controller="Products" asp-action="Index" asp-route-id="2">Google Glass</a>
                        </h4>
                        <h5>$2,149.99</h5>
                        <p class="card-text">Google Glass is an optical head-mounted display designed in the shape of a pair of eyeglasses. It was developed by X with the mission of producing a ubiquitous computer. Google Glass displayed information in a smartphone-like hands-free format.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9733;</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>